<footer class="bg-white text-black font-[Poppins]">
    <div class="max-w-7xl mx-auto py-6 px-2 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="col-span-1">
            <div class="flex items-center">
                <a href="/Inicial">
                    <img src="/images/imgLogoSite.png" class="w-[202px] h-[40px] object-contain" alt="Logo do site">
                </a>
            </div>
            <p class="mt-4 font-normal text-sm text-gray-800 max-w-md"> Transformando ideias em visuais impressionantes,
                onde inovação, arte e estratégia se unem para criar designs que realmente se destacam.
            </p>
        </div>
        <div class="col-span-1 lg:col-start-3 lg:text-right">
            <ul class="space-y-2 font-sm text-2xl tracking-wide">
                <li><a href="" class="hover:font-medium" rel="noopener">INSTAGRAM</a></li>
                <li><a href="" class="hover:font-medium" rel="noopener">FACEBOOK</a></li>
                <li><a href="" class="hover:font-medium" rel="noopener">YOUTUBE</a></li>
                <li><a href="" class="hover:font-medium" rel="noopener">TWITTER</a></li>
            </ul>
        </div>
    </div>
    <hr class="border-gray-100 my-6">
    <div class="max-w-7xl mx-auto px-6 pb-6 flex flex-col md:flex-row justify-between text-sm text-gray-600">
        <p>© 2025 TRAVELBUDDY. Todos os direitos reservados.</p>
        <div class="flex space-x-4 mt-2 md:mt-0">
            <a href="/Privacidade" class="hover:underline">Política de Privacidade</a>
            <a href="/Termos" class="hover:underline">Termos & Condições</a>
        </div>
    </div>
</footer>
