<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/imgFavicon.png" sizes="16x16" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>TravelBuddy - Inicio</title>
</head>

<body class="bg-white text-black font-[Poppins]">
    <%- include('componentes/header') %>
        <main class="mx-auto max-w-7xl py-6 px-2 ">
            <div class="relative bg-white ">
                <%- include('componentes/Filter', { categorias: categorias }) %>
            </div>
            <div class="mx-auto max-w-7xl py-6 px-2">
                <div class="grid grid-cols-1 md:grid-cols-4 gap-x-4 gap-y-10">
                    <!-- PRIMEIRA LINHA -->
                    <div class="flex flex-col gap-y-4">
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images001.jpg" loading="lazy" alt="Imagem 1"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images002.jpg" loading="lazy" alt="Imagem 2"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images003.jpg" loading="lazy" alt="Imagem 3"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images004.jpg" loading="lazy" alt="Imagem 4"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images005.jpg" loading="lazy" alt="Imagem 5"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images006.jpg" loading="lazy" alt="Imagem 6"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images007.jpg" loading="lazy" alt="Imagem 7"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images008.jpg" loading="lazy" alt="Imagem 8"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                    </div>
                    <!-- SEGUNDA LINHA -->
                    <div class="flex flex-col gap-y-4">
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images009.jpg" loading="lazy" alt="Imagem 9"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images010.jpg" loading="lazy" alt="Imagem 10"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images011.jpg" loading="lazy" alt="Imagem 11"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images012.jpg" loading="lazy" alt="Imagem 12"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images013.jpg" loading="lazy" alt="Imagem 13"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images014.jpg" loading="lazy" alt="Imagem 14"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images015.jpg" loading="lazy" alt="Imagem 15"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images016.jpg" loading="lazy" alt="Imagem 16"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                    </div>
                    <!-- TERCEIRA LINHA -->
                    <div class="flex flex-col gap-y-4">
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images017.jpg" loading="lazy" alt="Imagem 17"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images018.jpg" loading="lazy" alt="Imagem 18"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images019.jpg" loading="lazy" alt="Imagem 19"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images020.jpg" loading="lazy" alt="Imagem 20"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images021.jpg" loading="lazy" alt="Imagem 21"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images022.jpg" loading="lazy" alt="Imagem 22"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images023.jpg" loading="lazy" alt="Imagem 23"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images024.jpg" loading="lazy" alt="Imagem 24"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                    </div>
                    <!-- QUARTA LINHA -->
                    <div class="flex flex-col gap-y-4">
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images025.jpg" loading="lazy" alt="Imagem 25"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images026.jpg" loading="lazy" alt="Imagem 26"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images027.jpg" loading="lazy" alt="Imagem 27"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images028.jpg" loading="lazy" alt="Imagem 28"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images029.jpg" loading="lazy" alt="Imagem 29"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images030.jpg" loading="lazy" alt="Imagem 30"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images031.jpg" loading="lazy" alt="Imagem 31"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                        <div class="group relative">
                            <a href="/Imagem">
                                <img src="images/imgInicial/Images032.jpg" loading="lazy" alt="Imagem 32"
                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </main>
        <%- include('componentes/footer') %>
</body>

</html>
