<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/imgFavicon.png" sizes="16x16" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>TravelBuddy - Login</title>
</head>

<body class="bg-white text-black font-[Poppins]">
    <div class="flex h-screen">
        <div class="flex flex-col justify-between w-full md:w-1/2 p-8">
            <div>
                <div class="flex items-center gap-2 mb-16 justify-center">
                    <div class="rounded-full justify-center items-center flex">
                        <img src="/images/imgLogoSite.png" class="w-[202px] h-[40px] object-contain" alt="Logo do site">
                    </div>
                </div>
                <div class="max-w-md mx-auto">
                    <h1 class="text-4xl font-bold mb-2 flex justify-center">Bem Vindo</h1>
                    <p class="text-gray-800 mb-6 flex justify-center">Insira suas credenciais para acessar sua conta
                    </p>
                    <form action="/Login" method="POST">
                        <div class="mb-4">
                            <label for="email" class="block mb-2 font-bold">E-mail</label>
                            <input type="email" id="email" name="email" placeholder="nome@exemplo.com" required
                                class="w-full p-3 bg-white border border-gray-800 rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-gray-800" />
                        </div>
                        <div class="mb-1">
                            <label for="password" class="block mb-2 font-bold">Senha</label>
                            <div class="relative">
                                <input type="password" id="senha" name="senha" placeholder="**********" required=""
                                    class="w-full p-3 bg-white border border-gray-700 rounded-md focus:outline-none focus:ring-1 focus:ring-gray-400" />
                            </div>
                        </div>
                        <div class="flex justify-end mb-4 mt-4">
                            <a href="/EsqueceuSenha" class="text-md text-gray-600 hover:underline">Esqueceu sua
                                senha?</a>
                        </div>
                        <div class="flex justify-center">
                            <button type="submit"
                                class="w-full bg-black hover:bg-neutral-800 text-white font-bold py-3 px-4 rounded focus:outline-none focus:ring-2 focus:ring-lime-400 focus:ring-opacity-50">Logar-se</button>
                        </div>
                    </form>
                    <div class="text-center mt-6">
                        <p>Não tem uma conta? <a href="/Cadastro" class="text-gray-600 hover:underline">Cadastre-se</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative flex-1 hidden md:block">
            <img src="/images/imgAutenticacao.jpg" alt="" class="absolute inset-0 w-full h-full object-cover" />
            <div class="absolute inset-0 bg-white opacity-0"></div>
        </div>
    </div>
</body>

</html>
