<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/imgFavicon.png" sizes="16x16" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>TravelBuddy - Privacidade</title>
</head>

<body class="text-black font-[Poppins]">
    <%- include('componentes/header') %>
        <div class="mx-auto max-w-7xl py-6 px-2">
            <h1 class="text-6xl font-bold mb-2">Política de Privacidade</h1>
            <p class="text-sm text-gray-500 mb-6">Data efetiva: 1º de janeiro de 2025</p>
            <section class="mb-8">
                <h2 class="text-xl font-semibold mb-2">Introdução</h2>
                <p> Bem-vindo ao <span class="font-bold">TRAVELBUDDY</span>, um site de portfólio pessoal que exibe
                    trabalhos criativos. Sua privacidade é importante, e esta política descreve como as informações
                    básicas são tratadas quando você visita o site.
                </p>
            </section>
            <section class="mb-8">
                <h2 class="text-xl font-semibold mb-2">Informações Coletadas</h2>
                <ul class="list-disc list-outside space-y-2 px-4">
                    <li>
                        <span class="font-bold">Dados do Formulário de Contato:</span> se você enviar um formulário de
                        contato, eu coleto seu nome, e-mail, número de telefone e o serviço em que você está
                        interessado. Isso me ajuda a responder às suas perguntas.
                    </li>
                    <li>
                        <span class="font-bold">Análise Básica do Site:</span> Dados gerais e não pessoais (como o
                        número de visitantes) podem ser coletados para melhorar o desempenho do site. Nenhuma informação
                        pessoalmente identificável é rastreada.
                    </li>
                </ul>
            </section>
            <section class="mb-8">
                <h2 class="text-xl font-semibold mb-2">Uso de Informações</h2>
                <ul class="list-disc list-inside space-y-1">
                    <li>Para responder às suas perguntas ou solicitações de serviço.</li>
                    <li>Para melhorar a experiência do site.</li>
                    <li>Para mostrar o trabalho e interagir com os visitantes.</li>
                </ul>
            </section>
            <section class="mb-8">
                <h2 class="text-xl font-semibold mb-2">Compartilhamento de Informações</h2>
                <p> Seus detalhes pessoais do formulário de contato são usados somente para fins de comunicação. Não
                    vendemos, trocamos ou compartilhamos suas informações com terceiros.
                </p>
            </section>
            <section class="mb-8">
                <h2 class="text-xl font-semibold mb-2">Segurança</h2>
                <p> Este site toma precauções razoáveis para proteger seus dados enviados. No entanto, como em qualquer
                    plataforma online, a segurança absoluta não pode ser garantida.
                </p>
            </section>
            <section class="mb-8">
                <h2 class="text-xl font-semibold mb-2">Links de Terceiros</h2>
                <p> O site pode conter links para sites externos. Não somos responsáveis por seu conteúdo ou políticas
                    de privacidade.
                </p>
            </section>
            <section class="mb-8">
                <h2 class="text-xl font-semibold mb-2">Alterações a esta Política de Privacidade</h2>
                <p> A Política de Privacidade pode ser atualizada ocasionalmente. Quaisquer alterações serão refletidas
                    nesta página com uma data efetiva atualizada.
                </p>
            </section>
            <section>
                <h2 class="text-xl font-semibold mb-2">Contato</h2>
                <p>Para quaisquer dúvidas relacionadas a estes Termos e Condições, entre em contato através de <span
                        class="text-blue-600">suporte@travelbuddy.com</span>
                </p>
            </section>
        </div>
        <%- include('componentes/footer') %>
</body>

</html>
