<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/imgFavicon.png" sizes="16x16" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>TravelBuddy - Termos</title>
</head>

<body class="text-black font-[Poppins]">
    <%- include('componentes/header') %>
        <div class="mx-auto max-w-7xl py-6 px-2">
            <h1 class="text-6xl font-bold mb-2">Termos & Condições</h1>
            <p class="text-sm text-gray-500 mb-6">Data efetiva: 1º de janeiro de 2025</p>
            <section class="mb-8">
                <h2 class="text-xl font-semibold mb-2">Aceitação dos Termos</h2>
                <p> Ao acessar e usar o <span class="font-bold">TRAVELBUDDY</span>, você concorda em obedecer a estes
                    Termos e Condições. Se você não concordar, por favor, não use o site.
                </p>
            </section>
            <section class="mb-8">
                <h2 class="text-xl font-semibold mb-2">Uso do Site</h2>
                <ul class="list-disc list-outside space-y-2 px-4">
                    <li>O conteúdo exibido neste site é apenas para fins pessoais e informativos.</li>
                    <li>Você não pode copiar, reproduzir ou distribuir nenhum material sem permissão prévia.</li>
                    <li>O uso não autorizado deste site pode resultar em ação legal.</li>
                </ul>
            </section>
            <section class="mb-8">
                <h2 class="text-xl font-semibold mb-2">Conduta do Usuário</h2>
                <ul class="list-disc list-outside space-y-2 px-4">
                    <li>Não utilize este site para fins ilegais ou não autorizados.</li>
                    <li>Não tente hackear, interromper ou comprometer a segurança do site.</li>
                </ul>
            </section>
            <section class="mb-8">
                <h2 class="text-xl font-semibold mb-2">Limitação de Responsabilidade</h2>
                <p> Não somos responsáveis por quaisquer imprecisões, problemas técnicos ou danos resultantes do uso
                    deste site. O site é fornecido "como está", sem garantias de qualquer tipo.
                </p>
            </section>
            <section class="mb-8">
                <h2 class="text-xl font-semibold mb-2">Links Externos</h2>
                <p> Este site pode conter links para sites de terceiros. Não endossamos nem nos responsabilizamos pelo
                    conteúdo ou práticas desses sites.
                </p>
            </section>
            <section class="mb-8">
                <h2 class="text-xl font-semibold mb-2">Mudanças nos Termos & Condições</h2>
                <p> Reservamo-nos o direito de modificar estes Termos & Condições a qualquer momento. As alterações
                    serão atualizadas nesta página.
                </p>
            </section>
            <section>
                <h2 class="text-xl font-semibold mb-2">Contato</h2>
                <p> Para quaisquer dúvidas relacionadas a estes Termos e Condições, entre em contato através de <span
                        class="text-blue-600">suporte@travelbuddy.com</span>
                </p>
            </section>
        </div>
        <%- include('componentes/footer') %>
</body>

</html>
