<header class="bg-white text-gray-400 font-[Poppins]">
    <div class="max-w-7xl mx-auto flex py-6 px-2 items-center justify-between gap-2 px-10">
        <div class="flex justify-center items-center">
            <a href="/Inicial">
                <img src="/images/imgLogoSite.png" class="w-[200px] h-[40px] object-contain" alt="Logo do site">
            </a>
        </div>
        <nav>
            <div class="relative">
                <button id="userMenuButton" type="button">
                    <img class="w-10 h-10 rounded-full object-cover" src="/uploads/Perfil/<%= imagem %>" />
                </button>
                <div id="userMenuDropdown"
                    class="hidden absolute top-full right-0 z-10 min-w-[220px] max-w-xs rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5 ring-opacity-5 dark:bg-dark focus:outline-none"
                    tabindex="-1" role="menu" aria-orientation="vertical" aria-label="User menu">
                    <div class="p-2">
                        <div class="group relative flex items-center gap-x-6 rounded-lg p-2 text-sm/6 hover:bg-gray-50">
                            <a href="/Inicial"
                                class="flex size-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                                <svg class="size-6 text-black group-hover:text-blue-500" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M3 12l9-9 9 9M4.5 10.5V21h15V10.5" />
                                </svg>
                            </a>
                            <div class="flex-auto">
                                <a href="/Inicial" class="block font-semibold text-gray-900" role="menuitem">
                                    Página Inicial
                                </a>
                            </div>
                        </div>
                        <div class="group relative flex items-center gap-x-6 rounded-lg p-2 text-sm/6 hover:bg-gray-50">
                            <a href="/Perfil"
                                class="flex size-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                                <svg class="size-6 text-black group-hover:text-blue-500" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M15.75 7.5a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0z" />
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M4.5 19.5a8.25 8.25 0 0 1 15 0" />
                                </svg>
                            </a>
                            <div class="flex-auto">
                                <a href="/Perfil" class="block font-semibold text-gray-900" role="menuitem">
                                    Perfil
                                </a>
                            </div>
                        </div>
                        <div class="group relative flex items-center gap-x-6 rounded-lg p-2 text-sm/6 hover:bg-gray-50">
                            <a href="/Curtidas"
                                class="flex size-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                                <svg class="size-6 text-black group-hover:text-red-600" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                                </svg>
                            </a>
                            <div class="flex-auto">
                                <a href="/Curtidas" class="block font-semibold text-gray-900" role="menuitem">
                                    Minhas Curtidas
                                </a>
                            </div>
                        </div>
                        <div class="group relative flex items-center gap-x-6 rounded-lg p-2 text-sm/6 hover:bg-gray-50">
                            <a href="/sair"
                                class="flex size-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                                <svg class="size-6 text-black group-hover:text-blue-500" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6A2.25 2.25 0 0 0 5.25 5.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15" />
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H9m9 0-3-3m3 3-3 3" />
                                </svg>
                            </a>
                            <div class="flex-auto">
                                <a href="/sair" class="block font-semibold text-gray-900" role="menuitem">
                                    Sair
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <script src="/javascripts/userMenu.js"></script>
</header>
